<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
      <span> <a class="navbar-brand" href="#" >Hulu</a> </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" routerLink="products" >Users <span class="sr-only">(current)</span></a> <br>
          <a class="nav-item nav-link" routerLink="create" >Create</a> <br>
          <a class="nav-item nav-link" routerLink="/update">Update</a> <br>
          <a class="nav-item nav-link" routerLink="login">Log in!</a>

        </div>
      </div>
        </nav>
    <div class="container mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
  

